@import url("reset.css");
@import url("variables.css");
/* Components */
@import url("components/status-bar.css");
@import url("components/nav-bar.css");
@import url("components/screen-header.css");
@import url("components/alt-screen-header.css");
@import url("components/user-component.css");
@import url("components/badge.css");
@import url("components/icon-row.css");
@import url("components/no-mobile.css");
/* Screens */
@import url("screens/login.css");
@import url("screens/friends.css");
@import url("screens/find.css");
@import url("screens/more.css");
@import url("screens/settings.css");
@import url("screens/chat.css");

body {
    color: #2e363e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-header {
    margin: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-weight: 500;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}