#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        /* 숨겨진 splashscreen이 friend html를 덮고 있어
        네비게이션 바를 클릭할 수 없었는데
        visibility 속성으로 클릭할 수 있게됨 */
        visibility: hidden;
    }
}
#splash-screen {
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    top: 0; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 132px;
    /* 애니메이션의 끝에 forwards 속성으로 애니메이션의 마지막 상태가 계속 지속됨 */
    animation: hideSplashScreen 1s ease-in-out forwards;
    /* 애니메이션이 2초 지나고 나서 발생. */
    animation-delay: 2s;
}